:root {
    --vp-c-text-1: rgba(51, 51, 51);
}

.dark {
    --vp-c-text-1: rgba(255, 255, 245, 0.86);
}

/* Figure */

figure {
    page-break-inside: avoid;
    text-align: center;
    margin: 2.5em 0;
}

.vp-doc figure table {
    display: table;
    margin: auto;
}

table td {
    padding: 10px;
}

figcaption {
    margin-left: auto;
    margin-right: auto;
    font-size: 90%;
    text-align: center;
    margin: 0.5em 2em;
}

img {
    display: inline;
}

/* Footnotes */

.footnote-label {
    vertical-align: super;
    font-size: 0.5em;
    margin-left: 2px;
    color: var(--vp-c-brand-1);
    text-decoration: underline;
    cursor: pointer;
}

/* termref */

a.termref:link,
a.termref:hover,
a.termref:visited,
a.termref:active {
  text-decoration:none;
  border-bottom: 1px dotted #FC0;
}

/**
 * Highlight target note
 */
/* .footnote :target {
  background: yellow;
} */
